* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul[class*="flashes"] {
  color: green;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkcyan;
}

#indexTitle {
  background-color: #cfc;
  margin: 60px auto;
  width: 400px;
  border: 1px solid green;
  text-align: center;
}

#loginForm {
  background-color: #cfc;
  width: 200px;
  height: 160px;
  border: 1px solid green;
  margin: 60px auto;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}