<!DOCTYPE html>
<html lang="en">
    <body>
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
            <link rel="icon" type="image/png" href="{{ url_for('static', filename='imgs/nas.png') }}"/>
            <title>{% block title %}{% endblock %} - Photo Uploader</title>
        {% endblock %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                &copy; Made by Sam 2021
            {% endblock %}
        </div>
    </body>
</html>